:root {
  --prymari-color:#0A1128;
  --white-clor:#FFF;
  --gap:3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*Fontes
 font-family: "Open Sans", sans-serif;
 font-family: "Montserrat", sans-serif;
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}
section {
  min-height: 100vh;
}